*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}



nav{
    list-style: none;
    background: #1e2b1e;
    height: 50px;
    width: 100%;    
}
label.logo{
    color: aqua;
    font-size: 35px;
    line-height: 50px;
    padding-right: 100px;
    padding-left: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    color: azure;
    font-size: 17px;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a:active{
    color: #fc9b1b;
    transition: .2s;
    font-size: 20px;
}

.first-sec{
    display: flex;
    padding: 5%;
    margin-top: 51px;
}

.bigger{
    font-size: 45px;
    color:#3f3f3f;
}

.clr-deco{
    color: gray;
}

span{
    color: chartreuse;
}

.ordr-btn{
    padding: 2%;
    text-decoration: none;
    color: #1e2b1e;
    border-radius: 8px;
    background-image: linear-gradient(yellow,greenyellow);
}
.ordr-btn:hover,
.ordr-btn:active{
    padding: 2%;
    text-decoration: none;
    color: #0c0c0c;
    border-radius: 8px;
    background-image: linear-gradient(#3da191,#37399c);
}

.half-width{
    width: 50%;
}

.half-width img {
    width: 100%;
}

.text-part{
    padding-top: 5%;
    padding-right: 5%;
    width: 500px;
    padding-left: 20px; 
}





.secound-sec{
    background-image: url(../image/7.png);
    display: flex;
    padding-left: 15%;
    margin-top: 2%;
    background-repeat: no-repeat;
}
.image-part img{
    height: 500px;
    width: 300px;
}
.txt-prt{
    width: 300px;
    padding-top: 8%;
}
.pera-deco{
    color: #3a3a3a;
    margin-bottom: 30%;
}
.cntac-btn{
    padding: 20px 30px;
    text-decoration: none;
    color: honeydew;
    border-radius: 35px;
    background-image: linear-gradient(#ff8828,rgb(202, 141, 29));
}
.cntac-btn:hover,
.cntac-btn:active{
    padding: 20px 30px;
    color: blue;
    border-radius: 35px;
    background-image: linear-gradient(#46301c,#083b08));
}
.center{
    text-align: center;
    color: #3f3f3f;
    font-size: 30px;
    margin-top: 7%;
}
.about-us{
    margin-left: 250px;
    margin-right: 250px;
    text-align: justify-all;
    color: #5f5f5f;
}




.thrd-sec{
    display: flex;
    margin-top: 4.5%;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.box{
    box-shadow: 4px 4px 100px #6b6b6b;
    border-radius: 10px;
    margin-left: 3.8%;
    transition: transform .2s;
}
.box:hover,
.box:active{
    box-shadow: 4px 4px 100px #3d0101d3;
    border-radius: 10px;
    transform: scale(1.1);
}
.box1{
    width: 28.33%;
    padding: 2%;
  
}
.box1 img{
    width: 100%;
}
.box2{
    width: 28.33%;
    padding: 2%;;
}
.box2 img{
    width: 100%;
}
.box3{
    width: 28.33%;
    padding: 2%;
}
.box3 img{
    width: 100%;
}





.fourth-sec{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 4px 4px 80px #6b6b6b;
    border-radius: 10px;
    margin-bottom: 10%;
}
.dive{
    width: 33.333%;
    text-align: center;  
    padding-top: 45px;
    padding-bottom: 45px;
}
.dive h1{
    font-size: 40px;
    margin-bottom: 0px;
}
.dive p{
    margin-top: 0px;
}





footer{
    text-align: center;
    padding: 30px;
    background-color: black;
}
footer p {
    color: cornsilk;
}